.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 8.8rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  transition: background 0.5s, transform 0.5s;
  z-index: 1000;
  max-width: 1920px;
}

.navbar.hidden {
  transform: translateY(-100%);
}

.logo {
  width: 150px;
}

.menuIcon {
  display: none;
  cursor: pointer;
}

.list {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 35px;
  list-style: none;
  height: 45px;
}

.list li a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  transition: all 0.6s ease-in;
}

.list li,
.active {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.6s ease;
}

.list li:hover,
.active {
  background-color: #ff6838;
  transition: all 0.4s ease-in;
}

.list li:active {
  transform: translateY(-2px);
}

.activeMenu {
  display: flex !important;
  animation: slideDown 0.6s ease forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

/* Responsiveness */

@media screen and (min-width: 1688px) {
  .navbar {
    padding: 16px 16rem;
  }
}

@media screen and (max-width: 1250px) {
  .menuIcon {
    display: block;
    z-index: 1000;
  }

  .navbar {
    padding: 16px 5.8rem;
  }

  .list {
    flex-direction: column;
    gap: 4rem;
    padding-top: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(96, 96, 96);
    height: 120vh;
    width: 100vw;
    display: none;
    transition: transform 0.6s ease;
    z-index: 999;
  }

  .hideBtn {
    display: none;
  }
}

@media screen and (max-width: 660px) {
  .navbar {
    padding: 16px 1rem;
  }
}
